[workspace]
members = ["crates/kiln"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["Hakula <i@hakula.xyz>"]
license = "MIT"

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]
pedantic = { level = "warn", priority = -1 }

[workspace.dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
toml = "0.8"

[profile.release]
lto = true
codegen-units = 1
strip = true
